/**
 * Modal css
 * Ported from https://github.com/twbs/bootstrap/blob/v2.3.2/less/modals.less
 * This is to prevent a dependency on Bootstrap (so we don't have to download it)
 */

// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindexModalBackdrop;
  background-color: $colorWhite;
  background-image: url(../images/backdrop-pattern.png);

  // Fade for backdrop
  &.fade {
    @include transition(all 0.3s ease-out);
    @include opacity(0);
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity($opacityModalBackdrop);

  background-color: $colorGreyDark-40;
}

// Base modal
.modal {
  @include single-box-shadow(rgba(0, 0, 0, 0.1), 0, 5px, 20px);
  @include background-clip(padding-box);

  #{headings(all)} {
    margin: 0;
  }

  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  z-index: $zindexModal;
  width: 700px;
  margin: 0 auto;
  background-color: $colorWhite;

  // Remove focus outline from opened modal
  outline: none;

  &.fade {
    @include transition(all 0.1s ease-out);
    @include opacity($opacityModal);

    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
  }
  &.fade.in {
    @include opacity(1);

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  &.small {
    width: 318px;
  }

  header {
    @include clearfix;
    margin-bottom: $marginGeneralLarge;
  }
  footer {
    @include clearfix;

    margin-top: $marginGeneralLarge;
    text-align: center;
  }

}

.modal-dialog {
  padding: $marginGeneralMedium;
}
